@import url('https://fonts.googleapis.com/css?family=Orbitron');

body{
	font-family: 'Orbitron', sans-serif;
	background-color: #07060a;
	color: #ff0000;
	font-size: 42px;
	text-align: center;
}

#fire{
	cursor: pointer;
}

img{
	max-width: 100%;
}